/* .img{height:auto;width: 100%;background-image: url(pexels-frostroomhead-4664463.jpg);
}
.img h1,h5{margin: 5px 500px;} */
.img {
    height: auto;
    width: 100%;
    background-image: url('pexels-frostroomhead-4664463.jpg');
    background-size: cover;
    background-position: left right;
    
    text-align: center; /* Center the text horizontally */
    color: white; /* Set the text color to white */
    padding: 20px; /* Add padding to give some space inside the div */
}

.img h1, .img h5 {
   
    margin: 10px auto; /* Adjust margin to be responsive */
    max-width: 90%; /* Ensure the text width does not exceed 90% of the viewport */
}

@media (min-width: 768px) {
    .img h1, .img h5 {
        margin: 10px 20%; /* For larger screens, set a margin that maintains centering */
        max-width: 60%; /* For larger screens, increase the max-width */
    }
}

.main{display: flex;flex-direction: row;padding: 20px 160px;flex-wrap: wrap;}
.card{margin: 30px;}